{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h1 class="text-center">{% blocktrans with article_name=article %}You are in <em>{{ article_name }}</em>{% endblocktrans %}</h1>
    {% if path %}
        <p class="text-center">
            {% trans "Your path so far:"%}
        </p>
        <p class="text-center">
            {% for article in path %}
                {{ forloop.counter }}. {{ article }}{% if not forloop.last %}&#x21e8;{% endif %}
            {% endfor %}
        </p>
    {% endif %}
    <h3 class="text-center">{% trans "Path Length" %}: {{ path|length }}</h3>
    <p>
        {% trans "Links to other articles" %}:
    </p>
    <ul>
        {% for link in links %}
            <li>
                <a href="{% url "article" link %}">{{ link }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
