{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h1 class="text-center">{% blocktrans with article_name=article %}You are in <em>{{ article_name }}</em>{% endblocktrans %}</h1>
    <h4 class="text-center">{% blocktrans with end=problem.end %}Target person: <em>{{ end }}</em>{% endblocktrans %}</h4>
    <h4 class="text-center"><a class="btn btn-warning" href="{% url "article" problem.start %}">{% trans "Go to begining, " %} {{ problem.start }}</a></h4>
    {% if path|length > 1 %}
        <p class="text-center">
            {% trans "Your path so far:"%}
        </p>
        <p class="text-center">
            {% for article in path %}
                {{ forloop.counter }}. {{ article }}{% if not forloop.last %}&#x21e8;{% endif %}
            {% endfor %}
        </p>
    {% endif %}
    <h3 class="text-center">{% trans "Path Length" %}: {{ path|length|add:"-1" }}</h3>
    <p>{% trans "Links to other articles" %}:</p>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <table class="table table-condensed">
                    {% for link in links1 %}
                        {% if problem.end == link %}
                            <tr class="success"><td><a href="{% url "article" link %}"><strong>{{ link }}</strong></a></td></tr>
                        {% else %}
                            <tr><td><a href="{% url "article" link %}">{{ link }}</a></td></tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-condensed">
                    {% for link in links2 %}
                        {% if problem.end == link %}
                            <tr class="success"><td><a href="{% url "article" link %}"><strong>{{ link }}</strong></a></td></tr>
                        {% else %}
                            <tr><td><a href="{% url "article" link %}">{{ link }}</a></td></tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-condensed">
                    {% for link in links3 %}
                        {% if problem.end == link %}
                            <tr class="success"><td><a href="{% url "article" link %}"><strong>{{ link }}</strong></a></td></tr>
                        {% else %}
                            <tr><td><a href="{% url "article" link %}">{{ link }}</a></td></tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
