{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h1 class="text-center">{% trans "Small-World Wikigame" %}</h1>
    <h4 class="text-center">{% trans "Find the (shortest) path between two persons on wikipedia" %}</h4>
    <div class="container">
    <div class="panel panel-default">
    <div class="panel-body">
    <p>
        {% trans "You start on a given <strong>start person</strong> (e.g. Albert Einstein), and your goal is to reach the <strong>target person</strong> (e.g. Michael Jackson)."%}
    </p>
    <p>
	{% trans "For each person, the game gives you all the links that that person's Wikipedia article contains that link to other articles about persons." %}<br>
        {% trans "<strong>Follow links</strong> to jump to other persons." %}
    </p>
    </div>
    </div>
        <div class="row">
            <div class="col-md-8">
                <h4> {% trans "Warm up" %}</h4>
                <table class="table table-condensed">
                    {% include "table_header.html" %}
                    {% for problem in easy_problems %}
                        <tr>
                            <td><a class="btn btn-success" href="{% url "start_page" problem.id %}">Start</a></td>
                            <td>{{ problem.start }}</td>
                            <td>{{ problem.end }}</td>
                            <td>{{ problem.min|floatformat:0 }}</td>
                            <td>{{ problem.avg|floatformat:1 }}</td>
                            <td>{{ problem.count }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <h4> {% trans "Challenges" %}</h4>
                <table class="table table-condensed">
                    {% include "table_header.html" %}
                    {% for problem in normal_problems %}
                        <tr>
                            <td><a class="btn btn-success" href="{% url "start_page" problem.id %}">Start</a></td>
                            <td>{{ problem.start }}</td>
                            <td>{{ problem.end }}</td>
                            <td>{{ problem.min|floatformat:0 }}</td>
                            <td>{{ problem.avg|floatformat:1 }}</td>
                            <td>{{ problem.count }}</td>
                        </tr>
                    {% endfor %}
                    <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    {% for problem in hard_problems %}
                        <tr>
                            <td><a class="btn btn-success" href="{% url "start_page" problem.id %}">Start</a></td>
                            <td>{{ problem.start }}</td>
                            <td>{{ problem.end }}</td>
                            <td>{{ problem.min|floatformat:1 }}</td>
                            <td>{{ problem.avg|floatformat:1 }}</td>
                            <td>{{ problem.count }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h4> {% trans "Twitter" %}</h4>
                {% include "twitter.html" %}
            </div>
        </div>
    </div>
{% endblock %}
